<section class="step-2 wrapper">
    <h3 class="page-header">Форма заявки:</h3>

    <div class="form-group page-header">
        <label class="col-sm-4 control-label">
            Тип заявки<span class="needs">*</span>
        </label>

        <div>
            <label class="radio-inline" for="individual">
                <input name="ChoseType"
                       type="radio"
                       id="individual"
                       value="individual"
                       required="required"
                       ng-checked="true"
                       ng-change="applicationType()"
                       ng-model="user.type"/>
                Індивідуальна
            </label>
            <label class="radio-inline" for="collective">
                <input name="ChoseType"
                       type="radio"
                       id="collective"
                       value="collective"
                       required="required"
                       ng-change="applicationType()"
                       ng-model="user.type">
                Колективна
            </label>
        </div>

    </div>

    <form-collective ng-show="collectiveShow"></form-collective>
    <form-individual ng-show="individualShow"></form-individual>


</section>