
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">

                <menu></menu>

                <h3 class="page-header">Add new project:</h3>

                <form name="formAddArtist">

                    <div class="form-group">
                        <div class="row">
                            <label  class="col-xs-12" for="InputNameProject">Project name:</label>
                            <div class="col-xs-6">
                                <input type="text" class="form-control" id="InputNameProject" ng-model="name"/>
                            </div>
                            <div class="col-xs-6">
                                <select class="form-control" ng-model="artist">
                                    <option value="" selected="selected">Choose painters:</option>
                                    <option ng-repeat="painter in painters" value="painter.id">{{painter.fio}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="InputInformation">About project:</label>
                        <textarea class="form-control" rows="10" id="InputInformation" ng-model="info"></textarea>
                    </div>


                    <upload-file></upload-file>


                    <hr>

                    <button class="btn btn-primary" ng-click="addProject()">
                        <span class="glyphicon glyphicon-plus"></span>
                        Add project
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>