
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">

                <menu></menu>

                <h3 class="page-header">Add new jury:</h3>

                <form name="formAddJury">

                    <div class="form-group">
                        <div class="row">

                            <div class="col-xs-6">
                                <label for="InputName">Login:</label>
                                <input type="text" class="form-control" id="InputName" placeholder="Login" ng-model="login"/>
                            </div>

                            <div class="col-xs-6">
                                <label for="InputPassword1">Password:</label>
                                <input type="password"
                                       class="form-control"
                                       id="InputPassword1"
                                       placeholder="Задайте пароль"
                                       ng-model="pass"
                                />
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="InputName">All Name:</label>
                        <input type="text" class="form-control" id="InputName" placeholder="All Name" ng-model="fio"/>
                    </div>

                    <div class="form-group">
                        <label for="InputInformation">Information:</label>
                        <textarea class="form-control"
                                  rows="10"
                                  id="InputInformation"
                                  placeholder="Here Brief biography"
                                  ng-model="bio"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="InputFoto">Photo:</label>
                        <input type="file" id="InputFoto" ng-model="photo">
                    </div>

                    <hr>

                    <button class="btn btn-primary" ng-click="addJury()">
                        <span class="glyphicon glyphicon-plus"></span>
                        Add jury
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>