
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">
                <!-- Admin nav -->
                <nav class="top-nav">
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-list-alt"></span> Главная
                    </button>
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-user"></span> Художники
                    </button>
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-user"></span> Жюри
                    </button>
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-star"></span> Рейтинг
                    </button>
                    <div class="user-login">
                        Вы вошли как: Admin | <a href="#">Выйти</a>
                    </div>
                </nav>
                <h3 class="page-header">Добавить новый проект:</h3>

                <form>
                    <div class="form-group">
                        <div class="row">
                            <label  class="col-xs-12" for="InputNameProject">Название проекта:</label>
                            <div class="col-xs-6">
                                <input type="text" class="form-control" id="InputNameProject">
                            </div>
                            <div class="col-xs-6">
                                <select class="form-control">
                                    <option>Выберите художника:</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputInformation">Информация о проекте:</label>
                        <textarea class="form-control" rows="10" id="InputInformation"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Фото:</label>
                        <input class="padding-top-bot-10" type="file">
                        <input class="padding-top-bot-10" type="file">
                        <input class="padding-top-bot-10" type="file">
                        <input class="padding-top-bot-10" type="file">
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>
                        Добавить проект
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>