
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">


                <menu></menu>


                <h3 class="page-header">Add new project:</h3>

                <form name="formAddProject" novalidate>

                    <div class="form-group">
                        <div class="row">

                            <div class="col-xs-12">
                                <div class="pull-right">
                                    <select class="form-control" ng-model="project.id_user" required="required">
                                        <option value="null" ng-selected="true" ng-disabled="true">Select a painter</option>
                                        <option ng-repeat="painter in painters"
                                                value="{{painter.id_user}}">
                                            {{painter.fio_eng}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <label for="InputNameProject">
                                    Project name (ENG):
                                </label>
                                <input type="text"
                                       class="form-control"
                                       id="InputNameProject"
                                       required="required"
                                       placeholder="Name"
                                       ng-model="project.title_eng"
                                />
                            </div>

                            <div class="col-xs-6">
                                <label for="InputNameProject">
                                    Project name (UA):
                                </label>
                                <input type="text"
                                       class="form-control"
                                       id="InputNameProject"
                                       required="required"
                                       placeholder="Ім'я"
                                       ng-model="project.title_ukr"
                                />
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="InputInformation">About project (ENG):</label>
                        <textarea class="form-control"
                                  rows="10"
                                  id="InputInformation"
                                  required="required"
                                  ng-model="project.description_eng"></textarea>

                    </div>

                    <div class="form-group">
                        <label for="InputInformation">About project (UA):</label>
                        <textarea class="form-control"
                                  rows="10"
                                  id="InputInformation"
                                  required="required"
                                  ng-model="project.description_ukr"></textarea>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="video1">
                                    Video:
                                </label>
                                <input type="text"
                                       class="form-control"
                                       id="video1"
                                       placeholder="Link to video"
                                       ng-model="project.video1"
                                />
                            </div>

                            <div class="col-xs-6">
                                <label for="video2">
                                    Video:
                                </label>
                                <input type="text"
                                       class="form-control"
                                       id="video2"
                                       placeholder="Link to video"
                                       ng-model="project.video2"
                                />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="audio">
                                    Audio:
                                </label>
                                <input type="text"
                                       class="form-control"
                                       id="audio"
                                       placeholder="Link to audio"
                                       ng-model="project.audio"
                                />
                            </div>
                        </div>
                    </div>


                    <upload-file></upload-file>


                    <hr>


                    <button class="btn btn-primary" ng-click="addProject()">
                        <span class="glyphicon glyphicon-plus"></span>
                        Add project
                    </button>

                    <alert></alert>

                </form>
            </div>
        </div>
    </div>
</div>