
<div class="container">

    <div class="login-block">

        <div class="padding-top-bot-100 text-center">
            <div class="padding-top-bot-10">
                <img src="images/logo.png">
            </div>
            <form name="formAdmin" ng-submit="autorization()">
                <div class="form-group">
                    <input type="text"
                           class="form-control"
                           placeholder="Login"
                           required="required"
                           ng-model="login"
                    />
                </div>
                <div class="form-group">
                    <input type="password"
                           class="form-control"
                           placeholder="Pass"
                           required="required"
                           ng-model="pass"
                    />
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    <span class="glyphicon glyphicon-user"></span>
                    Enter
                </button>
            </form>
        </div>

    </div>

</div>