
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">

                <menu></menu>

                <h3 class="page-header">Painter list:</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Name</th>
                            <!--<th>Projects</th>-->
                            <th> </th>
                            <th> </th>
                            <!--<th colspan="2">Edit profіl</th>-->
                        </tr>
                    </thead>
                    <tbody class="js-lsit">
                        <tr ng-repeat="painter in painters track by $index">
                            <td class="column-photo">
                                <img ng-src="images/img/{{painter.photo}}" alt="painter-photo">
                            </td>
                            <td>
                                <a href="#/artist/{{painter.id_user}}" class="">
                                    {{painter.fio_eng}}
                                </a>
                            </td>
                            <td width="55">
                                <a class="btn btn-success"
                                   href="#/edit-artist/{{painter.id_user}}"
                                   ng-if="admin">
                                    <span class="glyphicon glyphicon-pencil"></span> Edit painter
                                </a>
                            </td>
                            <td width="45">
                                <button type="button"
                                        class="btn btn-danger"
                                        ng-click="deletePainter(painter.id_user, $index)"
                                        ng-if="admin">
                                    <span class="glyphicon glyphicon-minus"> </span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>