
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">

                <menu></menu>

                <h3 class="page-header">Painter list:</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>Projects</th>
                            <th> </th>
                            <!--<th colspan="2">Edit profіl</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="painter in painters track by $index">
                            <td scope="row">
                                <img ng-src="images/{{painter.photo}} alt="photo-artist"/>
                            </td>
                            <td>
                                {{painter.name}}
                            </td>
                            <td>
                                {{painter.project.length}}
                            </td>
                            <td width="160">
                                <a class="btn btn-primary" href="#/artist/{{painter.id}}">
                                    <span class="glyphicon glyphicon-search"></span> View projects
                                </a>
                            </td>
                            <td width="55">
                                <a class="btn btn-success" href="#/edit-artist/{{painter.project.id}}">
                                    <span class="glyphicon glyphicon-pencil"></span> Edit project
                                </a>
                            </td>
                            <td width="45">
                                <button type="button" class="btn btn-danger" ng-click="deletePainter(painter.id, $index)">
                                    <span class="glyphicon glyphicon-minus"> </span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>