
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">

                <menu></menu>

                <h3 class="page-header">Painter: {{painter.name}}</h3>

                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" ng-src="images/{{painter.photo}}" alt="painter-photo">
                        </a>
                    </div>
                    <div class="media-body">
                        <p class="media-heading">About painter:</p>

                        <div class="information_">
                            {{painter.bio}}
                        </div>
                    </div>
                </div>

                <hr>

                <h3 class="page-header">List all painter:</h3>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Photo</th>
                            <th colspan="4">Project name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="painterProject in painterProjects">
                            <td scope="row">
                                <a href="#">
                                    <img src="images/{{painterProject.photo}}" alt="project-photo">
                                </a>
                            </td>
                            <td>
                                {{painterProject.name}}
                            </td>
                            <td width="160">
                                <a class="btn btn-primary" href="#/project/{{painterProject.id}}">
                                    <span class="glyphicon glyphicon-search"></span> View project
                                </a>
                            </td>
                            <td width="195">
                                <a class="btn btn-success" href="#/edit-project/{{painterProject.id}}">
                                    <span class="glyphicon glyphicon-pencil"></span> Edit project
                                </a>
                            </td>
                            <td width="45">
                                <button class="btn btn-danger" ng-click="deleteProject()" ng-model="painterProject.id">
                                    <span class="glyphicon glyphicon-minus"> </span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>