
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">
                <!-- Admin nav -->
                <nav class="top-nav">
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-list-alt"></span> Главная
                    </button>
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-user"></span> Художники
                    </button>
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-user"></span> Жюри
                    </button>
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-star"></span> Рейтинг
                    </button>
                    <div class="user-login">
                        Вы вошли как: Admin | <a href="#">Выйти</a>
                    </div>
                </nav>
                <h3 class="page-header">Хужожник: Иванов Сергей</h3>

                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="images/no-photo-artist.png" alt="">
                        </a>
                    </div>
                    <div class="media-body">
                        <p class="media-heading">О художнике:</p>

                        <div class="information">
                            Здесь краткая биография художника
                        </div>
                    </div>
                </div>
                <hr>
                <h3 class="page-header">Список проектов художника:</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Фото</th>
                        <th colspan="4">Название проектов</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td scope="row">
                            <a href="#">
                                <img src="images/no-photo-project-small.png" alt="">
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                Название проекта №1
                            </a>
                        </td>
                        <td width="160">
                            <button type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search"></span> Смотреть проект
                            </button>
                        </td>
                        <td width="195">
                            <button type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-pencil"></span> Редактировать проект
                            </button>
                        </td>
                        <td width="45">
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-minus"> </span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <a href="#">
                                <img src="images/no-photo-project-small.png" alt="">
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                Название проекта №2
                            </a>
                        </td>
                        <td width="160">
                            <button type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search"></span> Смотреть проект
                            </button>
                        </td>
                        <td width="195">
                            <button type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-pencil"></span> Редактировать проект
                            </button>
                        </td>
                        <td width="45">
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-minus"> </span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <a href="#">
                                <img src="images/no-photo-project-small.png" alt="">
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                Название проекта №3
                            </a>
                        </td>
                        <td width="160">
                            <button type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search"></span> Смотреть проект
                            </button>
                        </td>
                        <td width="195">
                            <button type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-pencil"></span> Редактировать проект
                            </button>
                        </td>
                        <td width="45">
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-minus"> </span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <a href="#">
                                <img src="images/no-photo-project-small.png" alt="">
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                Название проекта №4
                            </a>
                        </td>
                        <td width="160">
                            <button type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search"></span> Смотреть проект
                            </button>
                        </td>
                        <td width="195">
                            <button type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-pencil"></span> Редактировать проект
                            </button>
                        </td>
                        <td width="45">
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-minus"> </span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>