
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">

                <menu></menu>

                <h3 class="page-header">Painter: {{painter.fio_eng}}</h3>

                <div class="row">
                    <div class="col-md-3">
                        <img class="media-object" ng-src="images/img/{{painter.photo}}" alt="painter-photo">
                    </div>
                    <div class="col-md-9">
                        <p class="media-heading">About painter:</p>

                        <div class="information_">
                            {{painter.bio}}
                        </div>
                    </div>
                </div>

                <hr>

                <h3 class="page-header">List all project:</h3>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Photo</th>
                            <th colspan="4">Project name</th>
                        </tr>
                    </thead>
                    <tbody class="js-listProject">
                        <tr ng-repeat="project in projects track by $index">
                            <td width="150">
                                <img src="images/img/{{project.photos[0].src}}" alt="project-photo">
                            </td>
                            <td>
                                {{project.title_eng}}
                            </td>
                            <td width="85">
                                <button class="btn btn-primary" ng-click="setTab($index)">
                                    <span class="glyphicon glyphicon-search"></span> View project
                                </button>
                            </td>
                            <td width="55" ng-if="admin">
                                <a class="btn btn-success"
                                   href="#/edit-project/{{project.id_project}}">
                                    <span class="glyphicon glyphicon-pencil"></span> Edit project
                                </a>
                            </td>
                            <td width="45" ng-if="admin">
                                <button class="btn btn-danger"
                                        ng-click="deleteProject(project.id_project, $index)">
                                    <span class="glyphicon glyphicon-minus"> </span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>


                <ul class="project-list">
                    <li ng-repeat="project in projects" ng-show="isSet($index)">
                        <h3 class="page-header">Project: "{{project.title_eng}}"</h3>

                        <p class="page-header">Project description:</p>

                        <div>
                            {{project.description_eng}}
                        </div>

                        <hr>

                        <ul class="row img-preview project-list__images">
                            <li class="col-xs-6 col-md-4 img-preview__item"
                                ng-repeat="photo in project.photos track by $index">
                                <a class="thumbnail" ng-click="Lightbox.openModal(project.photos, $index)">
                                    <img ng-src="images/img/{{photo.src}}" alt="project-photo">
                                </a>
                            </li>
                        </ul>

                        <hr>

                        <nav>
                            <ul class="pager">
                                <li class="previous">
                                    <a ng-click="setTab(project.prevProject)" href="">
                                        <span aria-hidden="true">&larr;</span>
                                        Previous project the artist
                                    </a>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-danger"
                                            ng-click="chooseProject(project.id_project)">
                                        <span class="glyphicon glyphicon-heart"> </span> Choose project
                                    </button>
                                </li>
                                <li class="next">
                                    <a ng-click="setTab(project.nextProject)" href="">
                                        The next project of the artist
                                        <span aria-hidden="true">&rarr;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
