
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">

                <menu></menu>

                <h3 class="page-header">Edited project:</h3>

                <form>

                    <div class="form-group">
                        <div class="row">
                            <label class="col-xs-12" for="InputNameProject">Project name:</label>

                            <div class="col-xs-6">
                                <input type="text" class="form-control" id="InputNameProject" ng-model="project.name">
                            </div>
                            <div class="col-xs-6">
                                <select class="form-control" ng-model="project.author">
                                    <option>Select an artist</option>
                                    <option ng-repeat="painter in painters" value="painter.id">{{painter.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="InputInformation">Information about the project:</label>
                        <textarea class="form-control" rows="10" id="InputInformation">{{project.info}}</textarea>
                    </div>

                    <div class="form-group">
                        <label>Photo:</label>

                        <div class="form-inline" ng-repeat="photo in project.photo track by $index">
                            <input type="text" class="form-control" ng-model="photo" name="photo-{{$index}}">

                            <button type="button" class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>

                            <input class="input-file" type="file" ng-model="photo" name="" ng-change="changePhoto()">
                        </div>

                        <button class="btn btn-primary" ng-click="addPhoto()">
                            <span class="glyphicon glyphicon-plus"></span>
                            Add photo
                        </button>

                    </div>

                    <hr>

                    <button class="btn btn-primary" ng-click="saveChange()">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        Save
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>