
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">

                <menu></menu>

                <h3 class="page-header">Edited project:</h3>

                <form>

                    <div class="form-group">
                        <div class="row">
                            <label class="col-xs-12" for="name-project">Project name:</label>

                            <div class="col-xs-6">
                                <input type="text" class="form-control" id="name-project" ng-model="project.title_eng">
                            </div>

                            <div class="col-xs-6">
                                <select class="form-control" ng-model="project.id_user">
                                    <option value="null">Select an painter</option>
                                    <option ng-repeat="painter in painters"
                                            ng-selected="{{project.id_user == painter.id_user}}"
                                            value="{{painter.id_user}}">
                                        {{painter.fio_eng}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">

                            <div class="col-xs-6">
                                <label for="town">User town:</label>
                                <input type="text" class="form-control" id="town" ng-model="user.town_eng">
                            </div>

                            <div class="col-xs-6">
                                <label for="education">User education:</label>
                                <input type="text" class="form-control" id="education" ng-model="user.education_eng">
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="biography">User biography:</label>
                        <input type="text" class="form-control" id="biography" ng-model="user.bio_eng">
                    </div>



                    <div class="form-group">
                        <label for="InputInformation">Information about the project:</label>
                        <textarea class="form-control"
                                  rows="10"
                                  id="InputInformation"
                                  ng-model="project.description_eng">
                            {{project.description_eng}}
                        </textarea>
                    </div>


                    <div class="form-group">

                    </div>

                    <upload-file></upload-file>


                    <hr>

                    <button class="btn btn-primary" ng-click="saveChange()">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        Save
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>