
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">

                <menu></menu>

                <h3 class="page-header">Edited project:</h3>

                <form>

                    <div class="form-group">
                        <div class="row">

                            <div class="col-xs-12">
                                <div class="pull-right">
                                    <select class="form-control" ng-model="project.id_user">
                                        <option value="null">Select an painter</option>
                                        <option ng-repeat="painter in painters"
                                                ng-selected="{{project.id_user == painter.id_user}}"
                                                value="{{painter.id_user}}">
                                            {{painter.fio_eng}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <label for="name-project">Project name (ENG):</label>
                                <input type="text"
                                       class="form-control"
                                       id="name-project"
                                       ng-model="project.title_eng"
                                />
                            </div>

                            <div class="col-xs-6">
                                <label for="name-project-ukr">
                                    Project name (UA):
                                </label>
                                <input type="text"
                                       class="form-control"
                                       id="name-project-ukr"
                                       required="required"
                                       placeholder="Ім'я"
                                       ng-model="project.title_ukr"
                                />
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="InputInformation">Information about the project (ENG):</label>
                        <textarea class="form-control"
                                  rows="10"
                                  id="InputInformation"
                                  ng-model="project.description_eng">
                            {{project.description_eng}}
                        </textarea>
                    </div>

                    <div class="form-group">
                        <label for="InputInformation">Information about the project (UA):</label>
                        <textarea class="form-control"
                                  rows="10"
                                  id="InputInformation"
                                  required="required"
                                  ng-model="project.description_ukr"></textarea>
                    </div>


                    <div class="form-group">

                    </div>

                    <upload-file></upload-file>


                    <hr>

                    <button class="btn btn-primary" ng-click="saveChange()">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        Save
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>