
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">


                <menu></menu>


                <h3 class="page-header">Edited Profil artist:</h3>

                <form name="formEditPainter">

                    <div class="form-group">
                        <label for="InputName">Name:</label>
                        <input type="text" class="form-control" id="InputName" ng-model="painter.fio_eng">
                    </div>


                    <div class="form-group">
                        <div class="row">

                            <div class="col-xs-6">
                                <label for="town">User town:</label>
                                <input type="text"
                                       class="form-control"
                                       id="town"
                                       placeholder="Town"
                                       required="required"
                                       ng-model="painter.town_eng"/>
                            </div>

                            <div class="col-xs-6">
                                <label for="education">User education:</label>
                                <input type="text"
                                       class="form-control"
                                       id="education"
                                       placeholder="Education"
                                       required="required"
                                       ng-model="painter.education_eng"/>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="InputInformation">Information about the artist:</label>
                        <textarea class="form-control"
                                  rows="10"
                                  id="InputInformation"
                                  required="required"
                                  ng-model="painter.bio"></textarea>
                    </div>


                    <upload-file></upload-file>


                    <hr>

                    <button type="button" class="btn btn-primary" ng-click="updatePainter()">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        Save
                    </button>

                    <alert></alert>

                </form>
            </div>
        </div>
    </div>
</div>