
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">


                <menu></menu>


                <h3 class="page-header">Edited Profil artist:</h3>

                <form name="formEditPainter">


                    <div class="form-group">
                        <div class="row">

                            <div class="col-xs-6">
                                <label for="InputNameEn">Artist name (ENG):</label>
                                <input type="text"
                                       class="form-control"
                                       id="InputNameEn"
                                       placeholder="Name"
                                       required="required"
                                       ng-model="painter.fio_eng"/>
                            </div>

                            <div class="col-xs-6">
                                <label for="InputNameUa">Artist name (UA):</label>
                                <input type="text"
                                       class="form-control"
                                       id="InputNameUa"
                                       placeholder="Ім'я"
                                       required="required"
                                       ng-model="painter.fio_ukr"/>
                            </div>

                        </div>
                    </div>


                    <div class="form-group">
                        <div class="row">

                            <div class="col-xs-6">
                                <label for="townEn">Artist town (End):</label>
                                <input type="text"
                                       class="form-control"
                                       id="townEn"
                                       placeholder="Town"
                                       required="required"
                                       ng-model="painter.town_eng"/>
                            </div>

                            <div class="col-xs-6">
                                <label for="townUa">Artist town (UA):</label>
                                <input type="text"
                                       class="form-control"
                                       id="townUa"
                                       placeholder="Місто"
                                       required="required"
                                       ng-model="painter.town"/>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">

                            <div class="col-xs-6">
                                <label for="educationEn">Artist education (End):</label>
                                <input type="text"
                                       class="form-control"
                                       id="educationEn"
                                       placeholder="Education"
                                       required="required"
                                       ng-model="painter.education_eng"/>
                            </div>

                            <div class="col-xs-6">
                                <label for="educationUa">Artist education (UA):</label>
                                <input type="text"
                                       class="form-control"
                                       id="educationUa"
                                       placeholder="Освіта"
                                       required="required"
                                       ng-model="painter.education"/>
                            </div>

                        </div>
                    </div>


                    <div class="form-group">
                        <label for="InputInformationEn">Information about the artist (ENG):</label>
                        <textarea class="form-control"
                                  rows="10"
                                  id="InputInformationEn"
                                  ng-model="painter.bio_eng"
                                  required="required"
                                  placeholder="Here is a brief biography of the artist"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="InputInformationUa">Information about the artist (UA):</label>
                        <textarea class="form-control"
                                  rows="10"
                                  id="InputInformationUA"
                                  ng-model="painter.bio"
                                  required="required"
                                  placeholder="Коротка біографія художника"></textarea>
                    </div>


                    <upload-file></upload-file>


                    <hr>

                    <button type="button" class="btn btn-primary" ng-click="updatePainter()">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        Save
                    </button>

                    <alert></alert>

                </form>
            </div>
        </div>
    </div>
</div>