
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">

                <menu></menu>

                <h3 class="page-header">Edited profil jury:</h3>

                <form name="formEditJury" novalidate>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="InputName">Login:</label>
                                <input type="text" class="form-control" id="InputName" placeholder="All name" ng-model="data.login">
                            </div>
                            <div class="col-xs-6">
                                <label for="InputPassword1">Password:</label>
                                <input type="password"
                                       class="form-control"
                                       id="InputPassword1"
                                       placeholder="Password"
                                       ng-model="data.pass"
                                />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="InputName">All name:</label>
                        <input type="text" class="form-control" id="InputName" placeholder="All name" ng-model="data.fio">
                    </div>

                    <div class="form-group">
                        <label for="InputInformation">information:</label>
                        <textarea class="form-control"
                                  rows="10"
                                  id="InputInformation"
                                  placeholder="Here a short biography"
                                  ng-model="data.bio"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Photo:</label>

                        <div class="form-inline">
                            <input type="text" class="form-control" ng-model="photo">
                            <button type="button" class="btn btn-danger btn-xs" ng-click="removePhoto()">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>

                            <upload-file></upload-file>

                        </div>
                    </div>

                    <hr>

                    <button class="btn btn-primary" ng-click="updateJury()">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        Save
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>



