
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">
                <!-- Admin nav -->
                <nav class="top-nav">
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-list-alt"></span> Главная
                    </button>
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-user"></span> Художники
                    </button>
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-user"></span> Жюри
                    </button>
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-star"></span> Рейтинг
                    </button>
                    <div class="user-login">
                        Вы вошли как: Admin | <a href="#">Выйти</a>
                    </div>
                </nav>
                <h3 class="page-header">Редактировать профиль художника:</h3>

                <form>
                    <div class="form-group">
                        <label for="InputName">Имя:</label>
                        <input type="text" class="form-control" id="InputName" placeholder="ФИО">
                    </div>
                    <div class="form-group">
                        <label for="InputInformation">Информация о художнике:</label>
                        <textarea class="form-control" rows="10" id="InputInformation"
                                  placeholder="Здесь краткая биография художника"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Фото:</label>

                        <div class="form-inline">
                            <input type="text" class="form-control" placeholder="45tw5.jpg">
                            <button type="button" class="btn btn-danger btn-xs"><span
                                    class="glyphicon glyphicon-remove"></span></button>
                            <input class="input-file" type="file">
                        </div>
                    </div>

                    <hr>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span>
                        Сохранить
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>