
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">


                <menu></menu>


                <h3 class="page-header">List of all jury:</h3>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Photo</th>
                            <th colspan="3">Name</th>
                        </tr>
                    </thead>
                    <tbody class="js-juryList">
                        <tr ng-repeat="j in jury track by $index">
                            <td scope="row" width="150">
                                <img ng-src="images/img/{{j.photo}}" alt="jury-photo"/>
                            </td>
                            <td>
                                {{j.fio}}
                            </td>
                            <td width="55">
                                <a href="#/edit-jury/{{j.id_jury}}" class="btn btn-success">
                                    <span class="glyphicon glyphicon-pencil"></span> Edit
                                </a>
                            </td>
                            <td width="45">
                                <button type="button" class="btn btn-danger" ng-click="deleteJury(j.id_jury,  $index)">
                                    <span class="glyphicon glyphicon-minus"> </span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>








