
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">
                <!-- Jury nav -->
                <nav class="top-nav">
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-list-alt"></span> Главная
                    </button>
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-user"></span> Художники
                    </button>
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-star"></span> Отобранные проекты
                    </button>
                    <div class="user-login">
                        Вы вошли как: Виктор иванов | <a href="#">Выйти</a>
                    </div>
                </nav>
                <h3 class="page-header">Добро пожаловать на конкурс Мухи-2015!</h3>
                <p class="text-muted">Подсказка:</p>
                <div class="information">
                    Текст как пользоваться сайтом
                </div>
            </div>
        </div>
    </div>
</div>