
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">
                <!-- Admin nav -->
                <nav class="top-nav">
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-list-alt"></span> Главная
                    </button>
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-user"></span> Художники
                    </button>
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-user"></span> Жюри
                    </button>
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-star"></span> Рейтинг
                    </button>
                    <div class="user-login">
                        Вы вошли как: Admin | <a href="#">Выйти</a>
                    </div>
                </nav>
                <h3 class="page-header">DashBoard</h3>

                <div class="well text-center">
                    <div class="row">
                        <div class="col-md-4">
                            <button type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus"></span> Добавить новый проект
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus"></span> Добавить нового художника
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus"></span> Добавить нового жюри
                            </button>
                        </div>
                    </div>
                </div>
                <p class="text-muted">Подсказка:</p>
                <div class="information">
                    Текст как пользоваться сайтом
                </div>
            </div>
        </div>
    </div>
</div>