
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">

                <menu></menu>

                <h3 ng-if="admin" class="page-header">DashBoard</h3>

                <div class="well text-center" ng-if="admin">
                    <div class="row">
                        <div class="col-xs-4">
                            <a href="#/add-project" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus"></span> Add new project
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="#/add-artist" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus"></span> Add new painter
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="#/add-expert" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus"></span> Add new expert
                            </a>
                        </div>
                    </div>
                </div>

                <h3 class="page-header">Welcome to the MUHI 2015 contest!</h3>

            </div>
        </div>
    </div>
</div>