<header class="row">
    <figure class="col-md-2 col-xs-3 menu-logo">
        <a href="#/">
            <img src="images/logo.png" alt="logo" />
        </a>
    </figure>

    <div class="col-md-10 col-xs-9 container-fluid">
        <div ng-if="userName" class="navbar-form pull-right">
            <div class="user-login">
                You are logged in as: {{userName || ""}}
                |
                <a href="#/login" ng-click="exit()">Exit</a>
            </div>
        </div>

        <nav class="navbar navbar-default ">

            <ul class="nav nav-pills nav-justified">
                <li ng-class="page('main')">
                    <a href="#/main">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        Main
                    </a>
                </li>
                <li ng-class="page('home')" ng-if="!admin">
                    <a href="#/home">
                        <span class="glyphicon glyphicon-home"></span>
                        Home
                    </a>
                </li>
                <li ng-class="page('artist-list')">
                    <a href="#/artist-list">
                        <span class="glyphicon glyphicon-user"></span>
                        Artist
                    </a>
                </li>
                <li ng-class="page('expert-list')">
                    <a href="#/expert-list">
                        <span class="glyphicon glyphicon-education"></span>
                        Expert
                    </a>
                </li>
                <li ng-class="page('rating')">
                    <a href="#/rating">
                        <span class="glyphicon glyphicon-star"></span>
                        Rating
                    </a>
                </li>
                <li ng-class="page('project-list')">
                    <a href="#/project-list">
                        <span class="glyphicon glyphicon-picture"></span>
                        Projects
                    </a>
                </li>
            </ul>
        </nav>

    </div>

</header>