
<nav class="top-nav">
    <a class="btn btn-primary" href="#/main">
        <span class="glyphicon glyphicon-list-alt"></span> Главная
    </a>
    <a class="btn btn-primary" href="#/artist-list">
        <span class="glyphicon glyphicon-user"></span> Художники
    </a>
    <a class="btn btn-primary" href="#/jury-list">
        <span class="glyphicon glyphicon-user"></span> Жюри
    </a>
    <a class="btn btn-success" href="#/rating">
        <span class="glyphicon glyphicon-star"></span> Рейтинг
    </a>
    <div class="user-login">
        Вы вошли как: Admin | <a href="#">Выйти</a>
    </div>
</nav>