
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">

                <menu></menu>

                <h3 class="page-header">
                    project:
                    "
                    {{langs == 'eng' ? project.title_eng : project.title_ukr}}
                    "
                    <span class="lead pull-right">
                        author:
                        <a href="#/artist/{{painter.id_user}}">
                            {{painter.fio_eng}}
                        </a>
                    </span>
                </h3>

                <p class="page-header">project description:</p>

                <p>
                    {{langs == 'eng' ? project.description_eng : project.description_ukr}}
                </p>

                <p ng-if="project.video1">
                    video: <a href="{{project.video1}}" target="_blank">{{project.video1}}</a>
                </p>

                <p ng-if="project.video2">
                    video: <a href="{{project.video2}}" target="_blank">{{project.video2}}</a>
                </p>

                <p ng-if="project.audio">
                    audio: <a href="{{project.audio}}" target="_blank">{{project.audio}}</a>
                </p>

                <hr/>

                <div class="fotorama">
                    <img fotorama-img
                         ng-repeat="photo in photos"
                         ng-src="images/img/{{photo.src}}"
                         alt="project-photo"/>
                </div>

                <hr>

                <nav>
                    <ul class="pager">
                        <li class="previous">
                            <a ng-click="setproject(project.prevproject)" href="#/project/{{project.prevproject}}">
                                <span aria-hidden="true">&larr;</span>
                                previous project the artist
                            </a>
                        </li>
                        <li>
                            <button type="button"
                                    class="btn"
                                    ng-class=" !rate ? 'btn-success' : 'btn-danger' "
                                    ng-if="!admin"
                                    ng-click="chooseproject(project.id_project)">

                                <span ng-if="!rate" class="glyphicon glyphicon-heart"> </span>
                                <span ng-if="!rate">to vote</span>

                                <span ng-if="rate" class="glyphicon glyphicon-minus"> </span>
                                <span ng-if="rate">take voice</span>
                            </button>
                        </li>
                        <li class="next">
                            <a ng-click="setproject(project.nextproject)" href="#/project/{{project.nextproject}}">
                                the next project of the artist
                                <span aria-hidden="true">&rarr;</span>
                            </a>
                        </li>
                    </ul>
                </nav>


            </div>
        </div>
    </div>
</div>

