
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">

                <menu></menu>

                <h3 class="page-header">Project: "{{project.title_eng}}"</h3>

                <p class="page-header">Project description:</p>

                <div>
                    {{project.description_eng}}
                </div>

                <hr/>

                <div class="fotorama">
                    <img fotorama-img
                         ng-repeat="photo in photos"
                         ng-src="images/img/{{photo.src}}"
                         alt="project-photo"/>
                </div>

                <hr>

                <nav>
                    <ul class="pager">
                        <li class="previous">
                            <a ng-click="setProject(project.prevProject)" href="#/project/{{project.prevProject}}">
                                <span aria-hidden="true">&larr;</span>
                                Previous project the artist
                            </a>
                        </li>
                        <li>
                            <button type="button"
                                    class="btn btn-danger"
                                    ng-if="!admin"
                                    ng-disabled="rate"
                                    ng-click="chooseProject(project.id_project)">
                                <span class="glyphicon glyphicon-heart"> </span> Choose project
                            </button>
                        </li>
                        <li class="next">
                            <a ng-click="setProject(project.nextProject)" href="#/project/{{project.nextProject}}">
                                The next project of the artist
                                <span aria-hidden="true">&rarr;</span>
                            </a>
                        </li>
                    </ul>
                </nav>


            </div>
        </div>
    </div>
</div>

