<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">


                <menu></menu>


                <h3 class="page-header">List of all projects:</h3>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Photo</th>
                            <th colspan="3">Project name</th>
                            <!--<th >Author name</th>-->
                            <!--<th ng-if="admin"></th>-->
                        </tr>
                    </thead>
                    <tbody class="js-listProject">
                        <tr class="animate-repeat"
                            ng-repeat="project in projects track by $index">
                            <td class="column-photo">
                                <a href="#/project/{{project.id_project}}">
                                    <img ng-src="images/img/{{project.photos[0].src}}" alt="project-photo">
                                </a>
                            </td>
                            <td>
                                <a href="#/project/{{project.id_project}}">
                                    {{project.title_eng}}
                                </a>
                            </td>
                            <!--<td>-->
                                <!--<a href="#/artist/{{project.id_user}}">-->
                                    <!--{{project.user}}-->
                                <!--</a>-->
                            <!--</td>-->
                            <td width="55" ng-if="admin">
                                <a href="#/edit-project/{{project.id_project}}" class="btn btn-success">
                                    <span class="glyphicon glyphicon-pencil"></span> Edit
                                </a>
                            </td>
                            <td width="45" ng-if="admin">
                                <button type="button" class="btn btn-danger" ng-click="deleteProject(project.id_project, $index)">
                                    <span class="glyphicon glyphicon-minus"> </span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>