
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">

                <menu></menu>

                <h3 class="page-header">
                    Rating

                    <span class="pull-right" ng-if="admin">

                        <button ng-hide="selectProject"
                                ng-click="selectMode()"
                                class="btn btn-default">
                            Select the projects to vote
                        </button>

                        <button ng-show="selectProject"
                                ng-click="sendToVote()"
                                class="btn btn-success">
                            Send
                        </button>

                        <button ng-show="selectProject"
                                ng-click="selectMode()"
                                class="btn btn-danger">
                            Cancel
                        </button>

                        <button ng-click="showRating()"
                                class="btn btn-default">
                            <span ng-if="ratingVisibility">Show</span>
                            <span ng-if="!ratingVisibility">Hide</span>
                            rating for expert
                        </button>

                    </span>

                </h3>

                <p ng-show="ratingVisibility && !admin">
                    Not enough data to display the rating
                </p>

                <div class="rating" ng-show="!ratingVisibility || admin">
                    <p class="text-muted">To: {{currentDate | date: "d.M.yyyy HH:mm"}}</p>

                    <table class="table table-striped text-center">
                        <thead>
                            <tr>
                                <th>Place</th>
                                <th>Photo</th>
                                <th>Name Project</th>
                                <th>Votes</th>
                                <th ng-if="selectProject">Select</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="project in projects | orderBy : '-rate'"
                                ng-hide="$index > 8 && !admin"
                                ng-if="project.rate > 0"
                                ng-class="$index > 0 || 'info'"
                                class="animate-repeat">

                                <td scope="row" width="60">
                                    {{$index + 1}}
                                </td>

                                <td width="200">
                                    <img ng-src="images/img/{{project.photos[0].src}}" alt="photo-project">
                                </td>

                                <td width="240" class="text-left">
                                    <a href="#/project/{{project.id_project}}">
                                        {{langs == 'eng' ? project.title_eng : project.title_ukr}}
                                    </a>
                                </td>

                                <td width="100">
                                    {{project.rate}}
                                </td>

                                <td ng-show="selectProject">
                                    <input type="checkbox"
                                           ng-model="select[$index]"
                                           ng-true-value="{{project.id_project}}"
                                           ng-false-value="-1" />
                                </td>

                            </tr>
                        </tbody>
                    </table>



                    <h3 class="page-header">Status expert vote</h3>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>Projects vote</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="animate-repeat" ng-repeat="jury in allJury">
                            <td width="100">
                                <img ng-src="images/img/{{jury.photo}}" alt="jury-photo">
                            </td>
                            <td>
                                {{jury.fio}}
                            </td>
                            <td>
                                <p ng-repeat="project in jury.projects">

                                    <span ng-if="!project.title_eng">
                                        {{langs == 'eng' ? 'did not vote' : 'не голосував'}}
                                    </span>

                                    <a ng-if="project.id_project" href="#/project/{{project.id_project}}">
                                        {{langs == 'eng' ? project.title_eng : project.title_ukr}}
                                    </a>

                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

