
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">

                <menu></menu>

                <h3 class="page-header">Rating</h3>

                <p class="text-muted">To: {{currentDate | date: "yyyy.M.d '=' h.m"}}</p>

                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th>Place</th>
                            <th>Photo</th>
                            <th>Name Painter</th>
                            <th>Name Project</th>
                            <th>Votes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="painter in painters">
                            <td scope="row" width="60">
                                {{painter.place}}
                            </td>
                            <td width="60">
                                <a href="#">
                                    <img ng-src="images/{{painter.photoProject}}" alt="photo-project">
                                </a>
                            </td>
                            <td width="200">
                                {{painter.name}}
                            </td>
                            <td width="140">
                                <a href="#">
                                    {{painter.nameProject}}
                                </a>
                            </td>
                            <td>
                                {{painter.vote}}
                            </td>
                        </tr>
                    </tbody>
                </table>


                <h3 class="page-header">Status jury vote</h3>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="jury in allJury">
                            <td width="60">
                                <a href="#">
                                    <img ng-src="images/{{jury.hoto}}" alt="jury-photo">
                                </a>
                            </td>
                            <td>
                                {{jury.name}}
                            </td>
                            <td ng-repeat="project in jury.projects">
                                {{jury.projectVote | "did not vote"}}
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>