
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">
                <!-- Admin nav -->
                <nav class="top-nav">
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-list-alt"></span> Главная
                    </button>
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-user"></span> Художники
                    </button>
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-user"></span> Жюри
                    </button>
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-star"></span> Рейтинг
                    </button>
                    <div class="user-login">
                        Вы вошли как: Admin | <a href="#">Выйти</a>
                    </div>
                </nav>
                <h3 class="page-header">Рейтинг</h3>

                <p class="text-muted">На: (Y.M.D - 00.00)</p>

                <table class="table table-striped text-center">
                    <thead>
                    <tr>
                        <th>Место</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Голосов</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td scope="row" width="60">
                            1
                        </td>
                        <td width="60">
                            <a href="#">
                                <img src="images/no-photo-artist-small.png" alt="">
                            </a>
                        </td>
                        <td width="200">
                            Ф.И.О. художника
                        </td>
                        <td width="140">
                            <a href="#">
                                Название проекта
                            </a>
                        </td>
                        <td>
                            45
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" width="60">
                            2
                        </td>
                        <td width="60">
                            <a href="#">
                                <img src="images/no-photo-artist-small.png" alt="">
                            </a>
                        </td>
                        <td width="200">
                            Ф.И.О. художника
                        </td>
                        <td width="140">
                            <a href="#">
                                Название проекта
                            </a>
                        </td>
                        <td>
                            30
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" width="60">
                            3
                        </td>
                        <td width="60">
                            <a href="#">
                                <img src="images/no-photo-artist-small.png" alt="">
                            </a>
                        </td>
                        <td width="200">
                            Ф.И.О. художника
                        </td>
                        <td width="140">
                            <a href="#">
                                Название проекта
                            </a>
                        </td>
                        <td>
                            20
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" width="60">
                            4
                        </td>
                        <td width="60">
                            <a href="#">
                                <img src="images/no-photo-artist-small.png" alt="">
                            </a>
                        </td>
                        <td width="200">
                            Ф.И.О. художника
                        </td>
                        <td width="140">
                            <a href="#">
                                Название проекта
                            </a>
                        </td>
                        <td>
                            10
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" width="60">
                            5
                        </td>
                        <td width="60">
                            <a href="#">
                                <img src="images/no-photo-artist-small.png" alt="">
                            </a>
                        </td>
                        <td width="200">
                            Ф.И.О. художника
                        </td>
                        <td width="140">
                            <a href="#">
                                Название проекта
                            </a>
                        </td>
                        <td>
                            5
                        </td>
                    </tr>
                    </tbody>
                </table>

                <h3 class="page-header">Статус голосования жюри</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Фото</th>
                        <th>Ф.И.О.</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td width="60">
                            <a href="#">
                                <img src="images/no-photo-artist-small.png" alt="">
                            </a>
                        </td>
                        <td>
                            Имя Фамилия жюри
                        </td>
                        <td>
                            Не голосовал
                        </td>
                    </tr>
                    <tr>
                        <td width="60">
                            <a href="#">
                                <img src="images/no-photo-artist-small.png" alt="">
                            </a>
                        </td>
                        <td>
                            Имя Фамилия жюри
                        </td>
                        <td>
                            <ul class="list-unstyled">
                                <li><a href="#">Название проекта</a></li>
                                <li><a href="#">Название проекта</a></li>
                                <li><a href="#">Название проекта</a></li>
                                <li><a href="#">Название проекта</a></li>
                                <li><a href="#">Название проекта</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td width="60">
                            <a href="#">
                                <img src="images/no-photo-artist-small.png" alt="">
                            </a>
                        </td>
                        <td>
                            Имя Фамилия жюри
                        </td>
                        <td>
                            <ul class="list-unstyled">
                                <li><a href="#">Название проекта</a></li>
                                <li><a href="#">Название проекта</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td width="60">
                            <a href="#">
                                <img src="images/no-photo-artist-small.png" alt="">
                            </a>
                        </td>
                        <td>
                            Имя Фамилия жюри
                        </td>
                        <td>
                            Не голосовал
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>